<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.servelets</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Helloservlet</display-name>
    <servlet-name>Helloservlet</servlet-name>
    <servlet-class>com.java.servelets.Helloservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helloservlet</servlet-name>
    <url-pattern>/Helloservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nameservlet</display-name>
    <servlet-name>Nameservlet</servlet-name>
    <servlet-class>com.java.servelets.Nameservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nameservlet</servlet-name>
    <url-pattern>/Nameservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculationServlet</display-name>
    <servlet-name>CalculationServlet</servlet-name>
    <servlet-class>com.java.servelets.CalculationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculationServlet</servlet-name>
    <url-pattern>/CalculationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.servelets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployShowServlet</display-name>
    <servlet-name>EmployShowServlet</servlet-name>
    <servlet-class>com.java.servelets.EmployShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployShowServlet</servlet-name>
    <url-pattern>/EmployShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploySearchServlet</display-name>
    <servlet-name>EmploySearchServlet</servlet-name>
    <servlet-class>com.java.servelets.EmploySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploySearchServlet</servlet-name>
    <url-pattern>/EmploySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployInsertServlet</display-name>
    <servlet-name>EmployInsertServlet</servlet-name>
    <servlet-class>com.java.servelets.EmployInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployInsertServlet</servlet-name>
    <url-pattern>/EmployInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankSearchServlet</display-name>
    <servlet-name>BankSearchServlet</servlet-name>
    <servlet-class>com.java.bank.BankSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankSearchServlet</servlet-name>
    <url-pattern>/BankSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankCreateServlet</display-name>
    <servlet-name>BankCreateServlet</servlet-name>
    <servlet-class>com.java.bank.BankCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankCreateServlet</servlet-name>
    <url-pattern>/BankCreateServlet</url-pattern>
  </servlet-mapping>
</web-app>